<a href="https://colab.research.google.com/github/pranamyasin/ml/blob/main/Ischemic_stroke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
from skimage import io,img_as_float,img_as_ubyte,color

from glob import glob
from pprint import pprint
from collections import defaultdict
import gc

from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
data = pd.read_csv(r'/content/drive/MyDrive/collab/train_ishemic___stroke.csv')
data

     image_id  center_id patient_id  image_num label
0    006388_0         11       6388          0    CE
1    008e5c_0         11     008e5c          0    CE
2    00c058_0         11     00c058          0   LAA
3    01adc5_0         11     01adc5          0   LAA
4    026c97_0          4     026c97          0    CE
..        ...        ...        ...        ...   ...
749  fe9645_0          3     fe9645          0    CE
750  fe9bec_0          4     fe9bec          0   LAA
751  ff14e0_0          6     ff14e0          0    CE
752  ffec5c_0          7     ffec5c          0   LAA
753  ffec5c_1          7     ffec5c          1   LAA

[754 rows x 5 columns]

# New Section

In [ ]:
train_images = glob("/kaggle/input/mayo-clinic-strip-ai/train/*")

In [ ]:
print(f"Number of images in a train set: {len(train_images)}")

Number of images in a train set: 0

In [ ]:
dataset = gdal.Open(r'/content/drive/MyDrive/collab/train_ishemic___stroke.csv')
dataset

In [ ]:
from glob import glob

In [ ]:
print(dataset.image_num.Count)

AttributeError: ignored

In [ ]:
train_imgs = glob('image_num')
train_imgs

[]

In [ ]:
print(f"Number of images in a training set: {len(train_imgs)}")

Number of images in a training set: 0